Button {
    -fx-background-radius: 0;
    -fx-text-fill: #d6caca;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

Button:hover {
    -fx-border-color: #707eff;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 3;
    -fx-cursor: hand;
}

#navbar{
    -fx-border-color: black;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
}

.active {
    -fx-border-color: #707eff;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 3;
}